@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#svelte {
    font-family: 'Raleway', 'Verdana', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}